:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

html.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.60s ease;
    max-width: 100%;
    overflow-x: hidden;
    max-height: 10px;
    overflow-y: auto;
}


.geral{
    position: relative !important;
    z-index: 999999 !important;
    width: 100%;
    margin-left: 0;
    background-color: red;
}

@media (max-width: 1024px) {
    .geral{
    position: relative !important;
    z-index: 999999 !important;
    width: 100%;
    margin-left: 0;
    background-color: red;
}
}

.sidebar-esquerda {
    position: absolute;
    z-index: 1; 
    top: 0;
    left: 0;              
    width: 120px;         
    height: 250vh;        
    margin-right: 22vw;
    background-color: #212529; 
    padding: 20px;
    overflow-y: auto;     
    
}

.sidebar-esquerda{
    position: absolute;
    z-index: 10; 
    top: 2vh;
    background-color: #2B3035;
    
}


@media (max-width: 768px) {
    .sidebar-esquerda {
    position: absolute;
    z-index: 1; 
    top: 0;
    left: 0;              
    width: 90px;         
    height: 770vh;        
    margin-right: 22vw;
    background-color: #212529; 
    padding: 20px;
    overflow-y: auto;     
    }

}

@media (max-width: 1024px) {
    .sidebar-esquerda {
    position: absolute;
    z-index: 1; 
    top: 0;
    left: 0;              
    width: 90px;         
    height: 540vh;        
    margin-right: 22vw;
    background-color: #212529; 
    padding: 20px;
    overflow-y: auto;     
    }


@media(max-width: 1366px) {
    .sidebar-esquerda {
    position: absolute;
    z-index: 1; 
    top: 0;
    left: 0;              
    width: 60px;         
    height: 340vh;        
    margin-right: 22vw;
    background-color: #212529; 
    padding: 20px;
    overflow-y: auto;     
    }
}

}

.video-container {
    position: absolute;
    width: 50vw;
    top: 20vh;
    right: 20vw; 
    margin: 0 0 2rem 0;
    
}
@media (max-width: 480px) {
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 7vw; 
    margin: 0 0 2rem 0;
    }
}

@media (max-width: 768px) {
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 7vw; 
    margin: 0 0 2rem 0;
    }
}

@media (max-width: 1024px) { 
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 7vw; 
    margin: 0 0 2rem 0;
    }
 }

 @media (min-width: 1024px) and (max-width: 1366px) { 
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 12vw; 
    margin: 0 0 2rem 0;
    }
  }

  @media (min-width: 1366px) and (max-width: 1920px) { 
    .video-container {
    width: 900px;
    position: absolute;
    top: 20vh;
    right: 15vw; 
    }
   }
@media (min-width: 1920px) and (max-width: 2560px) { 
    .video-container {
    width: 1000px;
    position: absolute;
    top: 20vh;
    right: 18vw; 
    } 
   }

@media (min-width: 1780px){
    .video-container {
    width: 950px;
    position: absolute;
    top: 20vh;
    right: 20vw; 
    } 
   }

@media (min-width: 2560px) and (max-width: 3440px) { 
    .video-container {
    width: 1000px;
    position: absolute;
    top: 20vh;
    right: 28vw; 
    }
   }
    
@media (min-width: 3440px) { 
    .video-container {
    width: 1000px;
    position: absolute;
    top: 20vh;
    right: 35vw; 
  }
 }


#primeiroTitulo{
    font-size: 5vmin;
    font-family: "SpaceGrotesk";
    position: absolute;
    top: 10%;
    width: 110vw;
    text-align: center;
}



#explicacao{
    font-size: 2.5vmin;
    position: relative;
    z-index: 2;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    top: 60vh;
    margin-top: 10rem;
    margin-left: 12vw;
    margin-right: 5vw;
    text-align: center;
    font-family: "SpaceGrotesk";
    
}

@media (max-width: 1024px) {
    #explicacao{        
    font-size: 3vmin;
    position: relative;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    top: 40vh;
    margin-top: 10rem;
    margin-left: 18vw; 
    margin-right: 5vw;
    margin-bottom: 50vh;
    text-align: center;   
    }
}

@media (max-width: 768px) {
    #explicacao{        
    font-size: 4vmin;
    position: relative;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    top: 30vh;
    margin-top: 10rem;
    margin-left: 18vw; 
    margin-right: 5vw;
    margin-bottom: 30vh;
    text-align: center;   
    }
}

#toggleTheme{
    margin-top: 80vh;
}

#toggleTheme.inicio{
    margin-top: 80vh;
    position: fixed;
    transition: all 0.4s ease;
}

#toggleTheme.movido {
  position: fixed;
  top:0;
  margin-top: 12px;
  transition: all 0.4s ease;
}

#thepretender{
    position: fixed;
    width: 100px;
    margin-top: 2vh;
}

#bestofyou{
    position: fixed;
    width: 100px;
    margin-top: 10vh;
}

#learntofly{
    position: fixed;
    width: 100px;
    margin-top: 18vh;
}


#timeslikethese{
    position: fixed;
    width: 100px;
    margin-top: 26vh;
}

#myhero{
    position: fixed;
    width: 100px;
    margin-top: 34vh;
}
#everlong{
    position: fixed;
    margin-top: 39.5vh;
}


@media (max-width: 768px) {
    #thepretender{
    width: 80px;
    font-size: 8pt;
    margin-top: 2vh;
    
   }   
       #timeslikethese{
       width: 80px;
       margin-top: 8vh;
       font-size: 8pt;
    }
    
    #learntofly{
        width: 80px;
        margin-top: 14vh;
        font-size: 8pt;
    }
    
    #bestofyou{
        width: 80px;
        margin-top: 20vh;
        font-size: 8pt;
    }
    #myhero{
        width: 80px;
    margin-top: 26vh;
    font-size: 8pt;
    }
    #everlong{
    margin-top: 30.5vh;
    font-size: 8pt;
    }

    
}

@media (max-width: 1024px) {
    #thepretender{
        width: 50px;
        height: 50px;
        margin-top: 2vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    
   }   
       #timeslikethese{
        width: 50px;
        margin-top: 9.5vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    }
    
    #learntofly{
        width: 50px;
        margin-top: 18vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    }
    
    #bestofyou{
        width: 50px;
        margin-top: 25vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    }
    #myhero{
        width: 50px;
        margin-top: 34vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    }
    #everlong{
        width: 50px;
        margin-top: 40.5vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    }

}

@media (max-width: 1366px) {
    #thepretender{
        width: 50px;
        height: 50px;
        margin-top: 2vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    
   }   
       #timeslikethese{
        width: 50px;
        margin-top: 9.5vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    }
    
    #learntofly{
        width: 50px;
        margin-top: 18vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    }
    
    #bestofyou{
        width: 50px;
        margin-top: 25vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    }
    #myhero{
        width: 50px;
        margin-top: 34vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    }
    #everlong{
        width: 50px;
        margin-top: 40.5vh;
        font-size: 7pt;
        display: flex;
        justify-content: center; /* eixo horizontal */
        align-items: center;     /* eixo vertical */
        text-align: center;
    }

}

#bruno{
    font-size: 11pt;
    width: 82px;
    position: fixed;
    margin-top: 88vh;
}

@media (max-width: 1024px) {
    #bruno{
    font-size: 9pt;
    width: 58px;
    position: fixed;
    margin-top: 86vh;
    display: flex;
    justify-content: center; /* eixo horizontal */
    align-items: center;     /* eixo vertical */
    text-align: center;
}

}

#comentarios{
    margin-top: 70vh;
}

@media (max-width: 1024px) {
    #comentarios{
    font-family: "SpaceGrotesk";
    margin-top: 40vh;
    margin-left: 20vw;
 }
}

@media (min-width: 1366px) and (max-width: 1920px) {
    #comentarios{
    font-family: "SpaceGrotesk";
    margin-top: 70vh;
    margin-left: 2vw;
 }
}

.sidebar-esquerda{
    position: absolute;
    z-index: 10; 
    top: 2vh;
    background-color: #2B3035;
    
}

#guitar-rain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.guitar {
  position: absolute;
  font-size: 24px;
  opacity: 0.25;
  animation: fall-diagonal linear infinite;
}

@keyframes fall-diagonal {
  0% {
    transform: translate(100vw, -10vh) rotate(0deg);
  }
  100% {
    transform: translate(-20vw, 110vh) rotate(360deg);
  }
}

.typewriter {
  font-family: "SpaceGrotesk";
  font-size: clamp(4.8rem, 8vw, 8rem);;
  margin-top: 35vh;
  margin-left: 15vw; 
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 980px) {
    .typewriter {
  font-family: "SpaceGrotesk";
  font-size: clamp(3.8rem, 8vw, 8rem);;
  margin-top: 35vh;
  margin-left: 20vw; 
  white-space: nowrap;
  overflow: hidden;
}
}

#type-loop {
    margin-top: 20vh;
    margin-left: 15vw;
    font-size: 20pt;
    white-space: normal;
}
@media (max-width: 768px) {
    #type-loop {
  margin-top: 20vh;
  margin-left: 20vw;
  font-size: 20pt;
  white-space: normal;
}

}

#type-loop::after {
  content: "|";
  margin-left: 2px;
  animation: blink 1s steps(2, start) infinite;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

#fundo{
    color: white;
    position: absolute;
    text-align: left;
    margin-top: 20vh;
    margin-left: 10vw;
    margin-right: 60vw;
    
}

#fundocor{
    position: absolute;
    background-color: #2B3035;
    z-index: -10;
    margin-top: 190px;
    width: 760px;
    height: 380px;
    box-shadow: 5px 10px 15px 2px gray;
}

@media (max-width: 1024px) {
    #fundo{   
    position: absolute;
    text-align: left;
    margin-left: 28vw;
    margin-right: 8vw;
    margin-top: 26vh;
 }
}

 @media (max-width: 1366px) {
    #fundo{   
    position: absolute;
    text-align: left;
    font-size: 18pt;
    margin-left: 12vw;
    margin-right: 35vw;
    margin-top: 16vh;
    
 }

 #fundocor{
    position: absolute;
    background-color: #2B3035;
    z-index: -10;
    margin-top: 190px;
    width: 50vh;
    height: 820px;
 }
  
}

#foto{
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px gray;
}

#fundocor2{
    display: flex;
    margin-left: auto;
    background-color: #2B3035;
    margin-top: 190px;
    width: 420px;
    height: 440px;
    
    box-shadow: 0px 5px 15px 5px gray;
}
@media (max-width: 1024px) {
    #foto{
    display: flex;
    margin-left: auto;
    margin-top: 24px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px gray;
}

#fundocor2{
    display: flex;
    margin-left: auto;
    background-color: #2B3035;
    margin-top: 1050px;
    width: 420px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px gray;
}
 }

.fade-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 2.0s ease;
}

.fade-scroll.aparecer {
  opacity: 1;
  transform: translateX(-40px);
}

.fade-lento {
transition: opacity 1.5s ease, transform 4s ease;
}

.pagina-estatica, 
.pagina-estatica html{
 margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
