#primeiraFrase3{
    margin-top: 60px;
    margin-left: 70px;
    text-align: center;
    font-family: "SpaceGrotesk";
    font-size: 40pt;
}

.imagens1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
    padding: 16px;
    margin-top: 190px;
    margin-left: 70px;
    
    
}

#i1{
    width: 200px;
    height: 210px;
}
#i2{
    width: 155px;
    height: 210px;
}
#i3{
    width: 200px;
    height: 215px;
}
#i4{
    margin-top: 50px;
    width: 200px;
    height: 155px;
}


#explicacao1{
    font-size: 15pt;
    margin-top: 10%;
    text-align: center;
    margin-left: 115px;
}
@media (max-width: 768px) {
    
#i1{
    width: 100px;
    height: 110px;
}
#i2{
    width: 75px;
    height: 110px;
}
#i3{
    width: 100px;
    height: 115px;
}
#i4{
    margin-top: 15px;
    width: 100px;
    height: 95px;
}
    
    #PrimeiraFrase3{
    margin-top: 60px;
    text-align: center;
    font-family: "SpaceGrotesk";
    font-size: 40pt;
    margin-left: 80px;
 }

.imagens1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
    padding: 16px;
    margin-top: 50px;
    margin-left: 50px;
}

#explicacao1{
    font-size: 13pt;
    margin-top: 10%;
    text-align: center;
    margin-left: 90px;
    white-space: normal;
 }

}

@media(max-width : 1024px){
  #primeiraFrase3{
    margin-top: 60px;
    margin-left: 70px;
    text-align: center;
    font-family: "SpaceGrotesk";
    font-size: 30pt;
}

.imagens1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
    padding: 16px;
    margin-top: 50px;
    margin-left: 50px; 
}

#i1{
    width: 100px;
    height: 110px;
}
#i2{
    width: 75px;
    height: 110px;
}
#i3{
    width: 100px;
    height: 115px;
}
#i4{
    margin-top: 15px;
    width: 100px;
    height: 95px;
}


#explicacao1{
    font-size: 15pt;
    margin-top: 10%;
    text-align: center;
    margin-left: 75px;
    margin-right: 20px;
}

}